.cart {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  height: 100vh;
}

.cart__heading {
  margin: 0 auto;
  font-weight: 200;
  display: flex;
}

.emptycart {
  text-align: center;
  color: #788188;
  font-family: "Roboto Slab", "serif";
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.emptycart__btn1 {
  background-color: white;
  color: #788188;
  font-family: "Roboto-slab", "serif";
  justify-self: left;
  font-size: 14px;
  border: 1px solid black;
  width: 250px;
  letter-spacing: 2px;
  margin-top: 10px;
  cursor: pointer;
}

.cartColumns {
  display: flex;
  justify-content: space-evenly;
  font-family: "Roboto Slab", "serif";
}
