.cart {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
}

.cart__heading {
  margin: 0 auto;
  font-weight: 200;
  display: flex;
}

.emptycart {
  display: flex;
  flex-direction: column;
  color: #788188;
  font-family: "Roboto Slab", "serif";
}

.cartColumns {
  display: flex;
  justify-content: space-evenly;
  font-family: "Roboto Slab", "serif";
}
