.home {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.home__container {
  margin: 0 auto;
}

.home__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.home__card {
  margin: 10px;
  text-align: center;
}

.home__card img {
  max-width: 100%;
}

.home__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  color: #9fa6ab;
  font-weight: 200;
}

@media screen and (min-width: 678px) {
}
