.home {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.home__wrapper {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.home__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__text-heading {
  color: #3d4246;
  font-size: 18px;
  letter-spacing: 1px;
}

p {
  color: #9fa6ab;
  font-weight: 200;
}
