:root {
  --clr-gray-font: #9fa6ab;
  --clr-blue-accent: #788188;
  --clr-main-blue: #7796a8;
  --color-background: #f7f4f4;
  --font-main: "Open Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

html,
body {
  min-height: 100%;
}

.links {
  margin-top: 8px;
  text-decoration: none;
  color: #989a9c;
  margin-right: 8px;
}

/* Cart --------------------------------------------- */
.cart {
  margin-top: 70px;
}

.cart__heading {
  text-align: center;
  padding-top: 40px;
}

/* Footer ---------------------------------------------------- */
.footer {
  left: 0;
  right: 0;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 50px;
  position: absolute;
  bottom: 0;
}

.btn {
  border: none;
  background-color: white;
  color: black;
  padding: 10px;
  margin-top: 5px;
  border-radius: none;
  font-size: 14px;
}

.footer__list {
  display: flex;
  align-self: center;
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin-top: 10px;
}

.footer__list li {
  margin: 10px;
}

.footer__input {
  width: 300px;
  height: 45px;
  border: 1px solid white;
  padding-left: 5px;
  font-size: 15px;
  background-color: black;
}

.footer__btn {
  background-color: white;
  color: black;
  padding: 12px;
  font-size: 14px;
  border: none;
  width: 150px;
  margin-top: 10px;
}

.footer__text {
  color: white;
  font-size: 18px;
  font-weight: 400;
}

/* Media Queries ----------------------------------- */
@media screen and (min-width: 320px) {
  .home__logo-wrapper {
    padding-top: 40px;
  }

  .home__text {
    margin: 10px;
  }

  .footer {
    padding-top: 0;
    margin-top: 120px;
  }

  .footer__list {
    margin-top: 0;
    margin-bottom: 0;
  }

  .footer__text {
    font-size: 13px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-wrapper {
    display: flex;
    margin: 0;
    justify-content: space-between;
  }

  .footer__btn {
    margin-top: 0;
  }

  .footer__email {
    display: flex;
  }

  .footer-text {
    font-size: 16px;
  }
}
