body {
  background-color: white;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

.Navbar__logo-wrapper {
  margin-left: 30px;
}

.Navbar__links {
  display: flex;
  flex-direction: row;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  letter-spacing: 3px;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
}

.Navbar__links li {
  list-style-type: none;
  margin-right: 2.5rem;
  margin-bottom: 7px;
  cursor: pointer;
  margin-top: 20px;
}

.Navbar__links li:hover {
  color: #9b9b9b;
}

.Navbar__bag-wrapper {
  margin-right: 30px;
  cursor: pointer;
}

.Navbar__bag:hover {
  opacity: 0.09;
}
